body{
	font-family: century gothic;
}
/* Logo */
.logo{
	position: absolute;
	top: 5px;
	left: 10px;
}
/* Search*/
#search{
	position: absolute;
	top: 12px;
	left: 55px;
	width: 300px;
	height: 50px;
	font-style: normal;
}
.searchbox{
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #1FB899;
	border-radius: 0;
	color: white;
}
.searchbox:focus{
	border: none;
	border-bottom: 1px solid #1FB899;
	box-shadow: none;
}
#search-cont{
	width: 80%;
	height: 50px;
	margin: auto;
	position: relative;
}
#icon{
	width: 5%;
    height: 100%;
    float: left;
    padding-top: 9px;
}
#input{
	width: 85%;
    position: relative;
    float: left;
    margin-left: 20px;
}
/* Menu */
.container{
	width: 100%;
	background-color: #071424;
	height: 60px;
}
ul{
	float: right;
	list-style: none;
	margin-right: 25px;
}
li{
	margin-top: 20px;
    display: inline-block;
    color: white;
    font-size: 15px; 
}
.active a{
    margin-right: 35px;
	color: #1FB899;

}
.nonactive a{
	text-decoration: none;
    margin-right: 35px;
	opacity:0.4;
}
a{
	transition-duration:0.4s;
	text-decoration: none;
}
a:hover{
	color: #1FB899;
	opacity: 1;
	text-decoration: none;
}
.dropdown-menu{
	background-color: #071424;
	color: white;
	width: 180px;
    text-align: center;
    min-width: 100px;
    left: -35px;

}
.anak a{
	padding: 5px;
	transition-duration:0.4s;
	margin-top: 2px;
	margin-right: 0px;
	text-decoration:none;
	opacity:1;
	margin-right: 0px;
	margin-top: 0px;
}
.anak a:hover{
	color: #1FB899;
}
.anak a:active a{
	color: #1FB899;
}

/* Data Container */
#container{
	margin: auto;
	width: 550px;
	height: 500px;
	margin-top: 65px;
	text-align: center;
}
.form-group{
	margin-left: 60px;
	margin-bottom: 70px;
}
input[type=text],input[type=password],input[type=number]{
	margin-bottom: 20px;
}
.btn{
	width: 290px;
    margin-left: 90px;
    background-color: #21CD68;
    color: white;
}
.btn:hover{
	background-color: #00A243;
	color: white;
}
